<h1>ルーム詳細ページ</h1>
  <h2>参加者</h2>
    <!-- roomに入っているroom_userは2人いるのでeachで引っ張る -->
    <% @room_users.each do |e| %>
      <%= link_to e.user.name, user_path(e.user_id) %>
    <% end %>
  <h2>トーク</h2>
    <!-- 入力フォーム -->
    <!-- form_withだと余計なものが生成されるので<form>タグで実装 -->
      <form>
        <%= hidden_field_tag :room_id, @room.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <input type="text" data-behavior="room_speak">
      </form>


    <!-- メッセージ表示 -->
    <%# if @messages.present? %>
    <div id="messages_all">
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
      </div>
    <%# end %>